.UserProfilePage {
    text-align: center; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding: 5%;
    font-family: 'Poppins';
    background-color: #d5e5f7;
}

.UserProfileContainer {
    height: 800px;
    width: 800px;
    background-color: #6293CC; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.UserInfoContainer {
    display: flex;
    align-items: center;
    margin: 0 5vw;
    padding: 1%;
    height:fit-content
}

.UserInfo {
    border: 0px transparent;
    height:100%;
    margin-left:20px; 
    width:70%;
}

.UserFaves {
    margin: 0 5vw;
    background-color: white;
    border-radius: 10px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding-bottom:30px;
}

.ProfilePic{
    width: 25%; 
    height: 0; 
    padding-bottom: 25%;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../assets/profilepic.jpeg');
}

.favoriteItem{
    display:flex;
    width:100%;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
button:hover{
    cursor:pointer;
}
.favoriteList{
    width:400px;
}
.unfavorite{
    background-color: darkred;
    margin:0;
}
.favorite{
    background-color: #6293CC;
    margin:0;
}
#returnHome{
    display:block;
    margin:auto;
    margin-top:10%;
    width:400px;
}
#password_button{
    width:300px;
    background-color: darkblue;
}
.passwordChangeForm{
    display:flex;
    left:50%;
    position:fixed;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: gray;
    border-radius: 10px;
    padding:10px;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    min-height:300px;
}
#flex_form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.close{
    color:white;
    font-size:40px;
    font-weight:bold;
    position:fixed;
    top:calc(50% - 160px);
    left:calc(50% + 150px);
}
.close:hover, .close:focus{
    color:black;
    text-decoration:none;
    cursor:pointer;
}

.listviewimg {
    border-radius: 10px;
    height: 100%
}